<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
          complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add
          your email address to the contact form to make it fully functional!</p>
      </div>
    </div>

    <!-- About Section Button -->
    <div class="text-center mt-4">
      <%= link_to 'https://startbootstrap.com/themes/freelancer/', class: 'btn btn-xl btn-outline-light' do %>
        <i class="fas fa-download mr-2"></i>
        Free Download!
      <% end %>
    </div>
  </div>
</section>