<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer Location -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">2215 John Daniel Drive
          <br>Clark, MO 65243
        </p>
      </div>

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <% %w(facebook-f twitter linkedin-in dribbble).each do |social_network| %>
          <%= link_to '#', class: 'btn btn-outline-light btn-social mx-1' do %>
            <i class="fab fa-fw fa-<%= social_network %>"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Footer About Text -->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
          <%= link_to 'Start Bootstrap', 'http://startbootstrap.com' %>
        </p>
      </div>

    </div>
  </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Your Website 2019</small>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <%= link_to '#page-top', class: 'js-scroll-trigger d-block text-center text-white rounded' do %>
    <i class="fa fa-chevron-up"></i>
  <% end %>
</div>