<div class="portfolio-modal modal fade" id="portfolioModal<%= @modal_counter += 1 %>" tabindex="-1" role="dialog" aria-labelledby="portfolioModal<%= @modal_counter %>Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%= title %></h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <%= image_tag "portfolio/#{img}.png", class: 'img-fluid rounded mb-5' %>
              <!-- Portfolio Modal - Text -->
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit
                soluta, eos quod consequuntur itaque. Nam.</p>
              <%= button_to '#', class: 'btn btn-primary', 'data-dismiss': 'modal' do %>
                <i class="fas fa-times fa-fw"></i>
                Close Window
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>