<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <%= link_to 'Start Bootstrap', '#page-top', class: 'navbar-brand js-scroll-trigger' %>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <%= link_to 'Portfolio', '#portfolio', class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <%= link_to 'About', '#about', class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <%= link_to 'Contact', '#contact', class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
        </li>
      </ul>
    </div>
  </div>
</nav>