<%= render partial: 'navigation' %>
<%= render partial: 'header' %>
<%= render partial: 'portfolio' %>
<%= render partial: 'about' %>
<%= render partial: 'contact' %>
<%= render partial: 'footer' %>
<%= render partial: 'modal', locals: {title: 'Log Cabin', img: 'cabin'} %>
<%= render partial: 'modal', locals: {title: 'Tasty Cake', img: 'cake'} %>
<%= render partial: 'modal', locals: {title: 'Circus Tent', img: 'circus'} %>
<%= render partial: 'modal', locals: {title: 'Controller', img: 'game'} %>
<%= render partial: 'modal', locals: {title: 'Locked Safe', img: 'safe'} %>
<%= render partial: 'modal', locals: {title: 'Submarine', img: 'submarine'} %>
