<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <title>Freelancer - Start Bootstrap Theme</title>

  <!-- Custom fonts for this theme -->
  <%= stylesheet_link_tag 'fontawesome-free/css/all.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' %>

  <!-- Theme CSS -->
  <%= stylesheet_link_tag 'freelancer' %>
</head>

<body id="page-top">

<%= yield %>

<!-- Bootstrap core JavaScript -->
<%= javascript_include_tag 'jquery/jquery.min.js' %>
<%= javascript_include_tag 'bootstrap/js/bootstrap.bundle.min.js' %>

<!-- Plugin JavaScript -->
<%= javascript_include_tag 'jquery-easing/jquery.easing.js' %>

<!-- Contact Form JavaScript -->
<%= javascript_include_tag 'contact_me.js' %>
<%= javascript_include_tag 'jqBootstrapValidation.js' %>

<!-- Custom scripts for this template -->
<%= javascript_include_tag 'freelancer.js' %>

</body>

</html>